@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #4682b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.container-card {
  position: relative;
  display: flex;
  justify-content: center;
}

.container-card:before,
.container-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  background: linear-gradient(
    45deg,
    #ffff00,
    #c5c541,
    #ffff00,
    #c5c541,
    #ffff00,
    #c5c541,
    #ffff00,
    #c5c541,
    #ffff00,
    #c5c541
  );
  background-size: 300%;
  animation: AnimarBorda 5s linear infinite;
}

@keyframes AnimarBorda {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 300%;
  }
}

.container-card::after {
  filter: blur(50px);
}

.infos-card {
  margin-top: 2rem;
  width: 280px;
  height: 440px;
  border-radius: 5px;
}

.title-card {
  width: 72%;
  margin: auto;
}

.title-card img {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 2rem;
}

.title-card p {
  margin: 8px 0 10px 0;
}

.moeda-card {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 75%;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 1rem;
}

.moeda-card img {
  width: 30px;
}

.autoria-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 75%;
}

.autoria-card img {
  width: 25px;
  border-radius: 50%;
  margin-right: 8px;
}

.autoria-card a {
  font-weight: 700;
  cursor: pointer;
  transition: all 1s ease;
}

.autoria-card a:visited {
  color: black;
}
.autoria-card a:hover {
  font-size: 18px;
}

@media (max-width: 280px) {
  .container-card:before,
  .container-card::after {
    width: 95%;
  }
}
