* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
}

.container-card {
  display: flex;
  flex-direction: column;
}

.infos-card {
  background-color: #dab510;
  width: 300px;
  height: 440px;
}

.title-card {
  width: 70%;
  margin: auto;
}

.title-card img {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 2rem;
}

.title-card p {
  margin: 8px 0 10px 0;
}

.moeda-card {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 75%;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 1rem;
}

.moeda-card img {
  width: 30px;
}

.autoria-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 75%;
}

.autoria-card img {
  width: 25px;
  border-radius: 50%;
  margin-right: 8px;
}

.autoria-card a{
    font-weight: 700;
    text-decoration: underline;
}